{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Quienes somos | Fourty Free</title>
    <link rel="shortcur icon" href="{% static 'img/logo.png'%}" type="image/x-icon"/>
  </head>

  <body id="fondo">
  <div>
  <header class="container-fluid bg-info d-flex justify-content-end">
    <p class="text-light mb-0 p-2 fs-9"> Contactanos +569 5555 0000</p>

    </div>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-2" id="menu">
      <div class="container-fluid">
          <a href="{% url 'index' %}"><img class="logo" src="{% static 'img/logo.png' %}"></a>
          <a class="navbar-brand" href="#">
              <span class="text-primary fs-5 fw-bold"> 40'Free </span>
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
              <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                Productos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'galeria' %}">Catalogo</a>
                <a class="dropdown-item" href="{% url 'forms_clientes' %}">Personalizados</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link alert-info" aria-current="page">Quienes somos</a>
            </li>
  
  
  
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'registro' %}">Registro </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'seguir' %}">Estado Pedido </a>
            </li>
  
  
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Estoy buscando..." aria-label="Search">
            <button class="btn btn-primary btn-primary-outline-success" type="button">Buscar</button>
          </form>
        </div>
      </div>
    </nav>



    <div class="contenedor-imagen">
      <a href="#">
        <img src="{% static 'img/minimalist.jpg'%}"  alt="animales">
      </a>
    </div>
  </header>
  
  <main id="blog">
    <div class="contenedor">
      <aside>
        <h3 class="Titulo">Temas</h3>
        <nav class="indice">
          <a href="#Articulo-1">¿Quienes somos?</a>
          <a href="#Articulo-2">Nuestros inicios</a>
          <a href="#Articulo-3">Nuestra vision</a>
          <a href="#Articulo-4">Clientes Satisfechos</a>
          <a href="#Articulo-5">Metodos de contacto</a>
        </nav>
      </aside>
      <div class="contenido">
        <div class="post">
          <h1 class="titulo" id="Articulo-1">¿Quienes somos?</h1>
          <p> Somos 40'Free, una empresa dedicada a la 
            venta a todo tipo de productos para mascotas,
            como por ejemplo: collares, alimento, juguetes,
            etc. En cada compra, nos aseguraremos de brindarte la mejor atención 
            complementando nuestros productos de alta calidad.
            
            
          </p>
          
        </div>
        
      

        <div class="post">
          <h1 class="titulo" id="Articulo-2">Nuestros inicios</h1>
          <p> En primera instancia, empezamos como una pyme queriendo brindar 
            productos a todas aquellas personas que fuesen amantes de los animales 
            tanto como nosotros. Pero nuestro amor no se quedó solo en eso, decidimos 
            que ayudariamos a más animalitos por medio de donar el 40% de nuestras ganacias
            a ong de animales rescatados, tanto como a refugios de ahí nuestro nombre.
            
          </p>
          
         
        </div>
        


        <div class="post">
          <h1 class="titulo" id="Articulo-3">Nuestra vision</h1>
          <p> Tener nuestra propia fundacion de rescate animal y posterior adopcion
            siendo todos los gastos costeados por la venta de nuestros productos,
            planteadonos abrir sucursales en toda la region y mas adelante 
            en todo Chile y fortalecer nuestra marca con productos hecho en Chile
            para ampliar nuestro catálogo.
            
          </p>
        </div>
        <div class="post">
          <h1 class="titulo" id="Articulo-4">Clientes Satisfechos</h1>
          <p> <iframe width="560" height="315" src="https://www.youtube.com/embed/K42R1FG6oX4" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
          </p>
        </div>
        <div class="post">
          <h1 class="titulo" id="Articulo-5">Métodos de contacto</h1>
          <p> 
            • Síguenos en Instagram @40'Free <br>
            • Buscanos en Facebook como 40'Free <br>
            • Llamanos o escribenos en WhatsApp +569 5555 0000 <br>
            • Escribenos un correo a 40Free@contacto.cl <br>

      </div>

        
        


      </div>
    </main>

 
    </div>

    </div>

      <!--Footer-->
<footer class="bg-dark text-center text-white">

  <div class="container p-4">
    <!-- Seccion: multimedia -->
    <section class="mb-4">

      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://es-la.facebook.com/" role="button"
      <a href="index.html"><img class="logo" src="{% static 'img/icon-facebook.png'%}"></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/?hl=es" role="button"
      <a href="index.html"><img class="logo" src="{% static 'img/icon-instagram.png'%}"></a>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/VelisRB/Experiencia4_GuerraNorambuenaVelasquezVelis_007D" role="button"
      <a href="index.html"><img class="logo" src="{% static 'img/icon-git.png'%}"></a>
      </a>
    </section>


    <!-- Forma -->
    <section class="">
      <form action="">

    <!-- Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">


        <!--Grid columna-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Integrantes</h5>

          <ul class="list-unstyled mb-0">
            <li>
              Victor Guerra
            </li>
            <li>
              Nicolás Norambuena
            </li>
            <li>
              Paula Velasquez
            </li>
            <li>
              Joaquin Velis
            </li>
          </ul>
        </div>


      </div>

    </section>

  </div>


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Todos los derechos reservados
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>
  </body>
</html>